RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api(.*)$ index.php [QSA,L]
RewriteRule ^ru(.*)$ ru/index.html [QSA,L]
RewriteRule ^en(.*)$ en/index.html [QSA,L]